<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gps">

  <xacro:macro name="gps_sensor" params="xyz rpy parent">
    <joint name="gps_sensor_joint" type="fixed">
      <axis xyz="0 0 1" />
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="gps_sensor_link"/>
    </joint>

    <link name="gps_sensor_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.02 0.02 0.02"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.02 0.02 0.02"/>
        </geometry>
        <material name="DarkGrey"/>
      </visual>
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.00000015" ixy="0" ixz="0" iyy="0.00000015" iyz="0" izz="0.00000015" />
      </inertial>
    </link>

    <gazebo>
      <plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
        <updateRate>40</updateRate>
        <!--  <robotNamespace>/</robotNamespace>-->
        <frameId>gps_sensor_link</frameId>
        <bodyName>gps_sensor_link</bodyName>
        <topicName>navsat/fix</topicName>
        <velocityTopicName>navsat/vel</velocityTopicName>
        <referenceLatitude>52.42521635417996</referenceLatitude>
        <referenceLongitude>9.614860370451538</referenceLongitude>
        <referenceHeading>0</referenceHeading>
        <referenceAltitude>0</referenceAltitude>
        <drift>0.0001 0.0001 0.0001</drift>
      </plugin>
    </gazebo>

  </xacro:macro>
  <gps_sensor xyz="0 0 0" rpy="0 0 0" parent="skeleton_link"/>
</robot>
