<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="velodyne_vlp16">
  <xacro:arg name="gpu" default="false"/>
  <xacro:property name="gpu" value="$(arg gpu)" />
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <VLP-16 parent="torso_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440" gpu="${gpu}"> <!--Original hz=10, samples=440. Descreased because of bad performance-->
    <origin xyz="0.0 0.0 0.544" rpy="0 0  ${-62*pi/180}" />
  </VLP-16>

</robot>
